#navyContainer {
  min-height: 100vh; width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 230, 230);
  font-size: 50px;
  background-color: rgb(49, 49, 56);
  user-select: none;

  .board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 15px;

    .boardTile {
      background-color: white;
      border: 1px solid gray;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgb(44, 13, 13);
      }

      &:active {
        transform: scale(0.88);
      }

      transition: transform 0.15s;
    }
  }

  #myBoard .boardTile{
    height: 75px; width: 75px;
  }

  #enemyBoard .boardTile{
    height: 40px; width: 40px;
  }

  #chat {
    position: absolute;
    right: 20px; bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: black;

    .message {
      background-color: rgb(156, 156, 156);
      border-radius: 15px;
      padding: 10px;
      margin: 10px 0px;
    }
  }
}